<ion-view title="Cities">
   <ion-nav-buttons side="right">
        <a class="button icon ion-home" href="#/app/home">

        </a>
    </ion-nav-buttons>
<loader></loader>
    <ion-content class="has-header">
       <h4 style="text-align:center;padding:100px;" ng-show="citydata=='false'">No City Found</h4>
        <ul class="list" ng-show= "citydata != 'false'">
            <a href="#/app/area/{{city.id}}" ng-repeat="city in citydata" >
                
                <li class="item">
                    {{city.name}}
                </li>
            </a>
        </ul>
    </ion-content>
</ion-view>