<ion-view title="Toykraft Dealer">
    <ion-content class="has-header">
        <ion-nav-buttons side="right">
            <a class="button icon ion-home" href="#/app/home">

            </a>
        </ion-nav-buttons>
        <div class="padding">
            <h4 class="pull-right">{{user.name}}</h4>
            <h2>{{retailerdata2.compony_name}}</h2>
            <h5>{{retailerdata2.name}}</h5>

            <table class="table2">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>MRP</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="singlecart in mycart|filter:cartnotschemenew">
                        <td>{{singlecart.id}}</td>
                        <td>{{singlecart.name}}</td>
                        <td>{{singlecart.quantity}}</td>
                        <td>₹{{singlecart.mrp}}</td>
                        <td>{{singlecart.totalprice}}</td>
                        
                    </tr>
                    <tr class="list list-royal" ng-repeat="singlecart in mycart|filter:{category:'scheme'}">
                        <td>{{singlecart.id}}</td>
                        <td>{{singlecart.name}}</td>
                        <td>{{singlecart.quantity}}</td>
                        <td>₹{{singlecart.mrp}}</td>
                        <td>{{singlecart.totalprice}}</td>
                        
                    </tr>
                    <tr class="list list-energized" ng-repeat="singlecart in mycart|filter:{category:'new'}">
                        <td>{{singlecart.id}}</td>
                        <td>{{singlecart.name}}</td>
                        <td>{{singlecart.quantity}}</td>
                        <td>₹{{singlecart.mrp}}</td>
                        <td>{{singlecart.totalprice}}</td>
                       
                    </tr>
                </tbody>
            </table>
            <h4>Total: ₹{{gettotal()}}</h4>

            </table>
            <div> <span class="list list-royal pull-right marker"> SCHEME </span><span class="list list-energized pull-right marker"> NEW PRODUCTS </span>
            </div>
            <button class="button button-assertive button-block" ng-click="sendOrder(retailerdata2);">Confirm Order</button>
        </div>
    </ion-content>
</ion-view>