<ion-view title="States">
   <ion-nav-buttons side="right">
        <a class="button icon ion-home" href="#/app/home">

        </a>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        <h4 style="text-align:center;padding:100px;" ng-show="statedata=='false'">No State Found</h4>
        <ul class="list" ng-show="statedata!='false'">          
            <a href="#/app/city/{{state.id}}" ng-repeat="state in statedata" >
                <li class="item" >
                    {{state.name}}
                </li>
            </a>
           
        </ul>
    </ion-content>
</ion-view>