<ion-view title="Sync">
    <ion-nav-buttons side="right">
        <a class="button icon ion-home" href="#/app/home">

        </a>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <ul class="list">
            <button class="button button-assertive button-block" ng-click="getdatatables()">IMPORT DATA TABLES</button>
            <button class="button button-assertive button-block" ng-click="sendofflineorders()">SEND OFFLINE ORDERS</button>
            <button class="button button-assertive button-block" ng-click="updateretailerdata()">UPDATE RETAILER DATA</button>
            <button class="button button-assertive button-block" ng-click="gettoptendata()">GET TOP TEN DATA</button>
            OFFLINE MODE
            <label class="toggle toggle-assertive" >
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
            <li class="item item-checkbox" ng-click="offlinemoder();">
                <label class="checkbox" >
                    <input type="checkbox" ng-checked="offlinemodebutton">
                </label>
                OFFLINE MODE
            </li>
        </ul>
    </ion-content>
</ion-view>